.search-bar
{
    width: 70%;
    background-color: var(--darkGrey);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.35rem;
}

.search-bar input
{
    width: 100%;
    font-size: 1.35rem;
    background-color: var(--darkGrey);
    border: none;
    padding: 0px 0.5rem;
    color: var(--grey);
    outline: none;
    font-family: 'Inter', sans-serif;
}